* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
	color: #fff;
	background: #333;
	overflow: hidden;
}

.landing {
	position: relative;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.landing .landing-inner {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .7);
	padding-top: 5rem;
}

.landing h1 {
	font-size: 3em;
}

.landing p {
	font-size: 2em;
}